@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px; 
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    height: auto;
    width: auto;
    overflow: auto;
}

.container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;


}

.header {
    grid-column: span 2;
    background-color: rgba(128, 128, 128, 0.425);
    color: lightblue;
    display: flex;
    flex-direction: row;
    min-width: none;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    padding: 10px;
}

.header h1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: auto;

}

.content {
    background-color: rgba(128, 128, 128, 0.425);
    color: white;
    border-radius: 30px;
    padding: 20px;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.atividades {
    background-color: rgba(128, 128, 128, 0.425);
    color: white;
    border-radius: 30px;
    padding: 20px;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.atividades h1 {
    color: pink;
    padding: 20px;
    border-radius: 30px;
    font-weight: bold;
    display: flex;
    overflow: auto;
    font-size: 26px;
}

.atividades div {
    display: grid;
    margin-bottom: -8px;
    overflow: auto;
}

.atividades p {
    display: flex;
    justify-content: unset;
    text-align: left;
    overflow: auto;
    min-width: 100px;
}

.atividades a {
    text-decoration: none;
    font-weight: bold;
    min-width: auto;
    
}

img {
    margin-top: 0;
    max-width: 70vh;
    height: 30vh;
    border-radius: 50px;
    align-items: flex-start;
}


/* Alteração do CSS incluindo Media Queries*/
@media (max-width: 300px) {
    .container {
        grid-template-columns: 1fr; 
    }

    body {
        padding: 16px; 
        gap: 16px;
        display: grid;
        grid-template-columns: 1fr; 
        overflow: hidden;
        min-height: 30px;
        overflow: auto;
    }

    .header, .content, .atividades {
        padding: 10px; 
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
        margin: 0 auto; 
        width: 100%;
        overflow: auto;
    }

    @media(max-width:800px){ 
        .content{ 
        display: grid;
        grid-auto-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: auto;

    }
    }

    @media(max-height:700px){
        .content{
            display: none;
            overflow: auto;
        }
    }
}    